@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}
#nav_logo {
  height: 10vh;
  display: block;
  margin: auto 50px;
}
header {
  background-color: #9bb5c9;
  position: sticky;
  top: 0;
  z-index: 2;
}
#pg1-cards::before {
  content: "";
  background-image: url("/img/bg/gradient-colorful-hexagonal-background/5442663.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  height: 60%;
  width: 100%;
  z-index: -1;
}
#pg1-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  position: relative;
}
.cards {
  border: 2px solid red;
  min-height: 40vh;
  /* background-color: white; */
  border-radius: 12px;
  padding: 20px;
  width: 35vw;
  color: white;
  font-family: "Oswald", sans-serif;
}
.cards h1 {
  font-weight: normal;
  font-size: xx-large;
  padding: 10px;
}
.cards p {
  font-weight: 100;
  font-family: "Noto Sans", sans-serif;
  padding: 10px;
}

@media screen and (max-width: 550px) {
  #pg1-cards {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
  }
  #pg1-cards::before {
    height: 100%;
  }
  .cards {
    height: fit-content;
    width: 80vw;
  }
}
#card1 {
  margin: 20px;
  margin-top: 150px;
  background-color: #305b7c;
}
#card2 {
  margin: 20px;
  margin-bottom: 130px;
  background-color: #4f4079;
}
#pg2 {
  padding: 0 10px;
  height: calc(100vh - 10vh);
  background-color: #2001cf;
  display: flex;
}
.lft {
  width: 50%;
  align-self: center;
  text-align: center;
  padding: 10px;
}
.right {
  width: 70%;
  display: grid;
  grid-template-areas:
    "tplft . tpright ."
    ". . . ."
    ". btmlft . btmright";
}
.right div {
  /* border-radius: 12px; */
  padding: 20px;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
#tplft {
  /* border-top-left-radius: 0;
  border-top-right-radius: 0; */
  grid-area: tplft;
}
#tpright {
  /* border-top-left-radius: 0;
  border-top-right-radius: 0; */
  grid-area: tpright;
}
#btmright {
  /* radius */

  /* border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; */
  grid-area: btmright;
}
#btmlft {
  /* border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; */
  grid-area: btmlft;
}
@media screen and (max-width: 1200px) {
  #pg2 {
    /* display: none; */
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
  .right {
    width: 100%;
    height: 100%;
    grid-template-areas:
      "tplft"
      "tpright"
      "btmlft"
      "btmright";
  }
  .right div {
    /* border-radius: 12px !important; */
    padding: 20px;
    margin: 10px auto;
    /* display: none; */
  }
}
/* pg3- About */
#pg3 {
  display: flex;
  height: calc(100vh - 10vh);
  align-items: center;
  font-family: "Oswald", sans-serif;
}
#pg3 .txt-content {
  width: 70vw;
  padding: 20px;
  font-size: 1.5rem;
  color: #2001cf;
}
#pg3 .txt-content p {
  color: black;
}
#pg3 .sqrs {
  padding: 20px;
  width: 100%;
  height: 100%;
  grid-gap: 25px;
  align-items: center;
  display: grid;
  grid-template-areas:
    "l1 l1 l3 ."
    "l1 l1 l2 l2"
    "l1 l1 l2 l2";
}
#pg3 .sqrs div {
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#pg3 .sqrs div .number {
  font-size: 5rem;
}
#lvl1 {
  grid-area: l1;
  background-color: aqua;
  height: max(60%, 33vh) !important;
}
#lvl2 {
  grid-area: l2;
  background-color: #2001cf;
}
#lvl3 {
  background-color: rgb(194, 10, 194);
  grid-area: l3;
}
@media screen and (max-width: 1200px) {
  #pg3 .txt-content {
    text-align: center;
  }
  #pg3 .sqrs {
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    width: 100%;
    height: 100%;
    grid-gap: 25px;
    align-items: center;
    display: grid;
    grid-template-areas:
      "l1"
      "l2"
      "l3";
  }
  #lvl1 {
    height: 100% !important;
  }
  #pg3 {
    flex-direction: column;
  }
}
#pg4 {
  display: grid;
  height: calc(100vh - 10vh);
  grid-template-areas:
    "b1 b2 b3"
    "b4 b5 b6"
    "b7 b8 b9";
  align-items: center;
  justify-content: center;
  grid-gap: 0;
}
.img-box{
  width: calc(calc(100vw / 3) - 10px);
  height: min(calc(calc(100vh - 10vh) / 3),calc(calc(100vw / 3) - 10px));
  /* height: 100%; */
}
#bx1 {
  grid-area: b1;
}
#bx2 {
  grid-area: b2;
}
#bx3 {
  grid-area: b3;
}
#bx4 {
  grid-area: b4;
}
#bx5 {
  grid-area: b5;
}
#bx6 {
  grid-area: b6;
}
#bx7 {
  grid-area: b7;
}
#bx8 {
  grid-area: b8;
}
#bx9 {
  grid-area: b9;
}
