*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .container {
  outline: 2px solid red;
  min-height: 500px;
  min-width: 500px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.itms {
  flex-shrink: 0;
  flex-grow: 0;
  height: 400px;
  width: 400px;
  outline: 2px solid black;
} */

/* 2.container have not the full width */
/* .grandContainer {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 500px;
  height: 500px;
  border: 2px solid red;
  display: flex;
  overflow-x: scroll;
  align-items: center;
  overflow-y: hidden;
  gap: 2em;
  padding: 0 2em 0 2em;
}
.itms {
  flex-shrink: 0;
  flex-grow: 0;
  height: 350px;
  width: 400px;
  outline: 2px solid black;
} */
.grand {
  height: 100vh;
  width: 100%;
  background-color: rgb(107, 106, 106);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0.2em 0.5em;
}

.container {
  width: 100%;
  height: 50vh;
  background-color: rgb(194, 175, 175);
  display: flex;
  align-items: center;
  gap: 1em;
  overflow-x: scroll;
  padding: 1em;
}

.itms {
  color: rgb(194, 175, 175);
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: rgb(102, 97, 92);
  flex-shrink: 0;
  flex-grow: 0;
  width: 300px;
  height: 300px;
  transition: width 2s ease;
}
.itms:hover {
  animation: roll 2s linear 1;
  width: 500px;
}
@keyframes roll {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
