/* contact widget */
#contact-widget {
  position: fixed;
  right: 0;
  top: 30%;
  bottom: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  z-index: 99;
  width: 80px;
  height: max-content;
  padding: 2em 0;
  background-color: rgba(144, 238, 144, 0.342);
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#contact-widget > img {
  width: 30px;
}
@media screen and (max-width: 880px) {
  #contact-widget {
    display: none;
  }
}
/* pg1 */
#pg1::before {
  content: '';
  background-image: url('/media/pg1/bgimage.png');
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-size: cover;
  opacity: 0.5;
  /* will change to some visible bg image  */
}
#pg1 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
#content {
  padding: 0 20px;
  margin: 10vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#content > * {
  z-index: 2;
}
#content > h1 {
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
}
#content > p {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: bold;
  color: gray;
}
#info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  background-color: rgba(144, 238, 144, 0.342);
  padding: 20px;
}
#info > * {
  padding: 10px;
  border-radius: 5px;
  border: 0;
}
#info > input:focus {
  outline: 2px solid gray;
}
