@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
::selection {
  background-color: lightgreen;
  color: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pgs {
  min-height: 100vh;
  outline: 2px solid red;
}
/* navigation */

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(29, 250, 0, 0.116);
  z-index: 5;
  /* padding: 0 50px; */
}

nav {
  display: flex;
  min-height: 60px;
  align-items: center;
  flex-wrap: wrap;
  gap: 10vw;
  row-gap: 10px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.logo > img {
  width: 70vw;
}
@media screen and (min-width: 480px) {
  .logo > img {
    width: 350px;
  }
}
nav > *:nth-child(1) {
  /* Logo */
  cursor: none;
  font-family: 'Allura', cursive;
  font-size: 2rem;
}
nav > *:nth-child(2) {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 20px;
}
@media screen and (max-width: 460px) {
  nav {
    flex-direction: column;
  }
  nav > *:nth-child(2) {
    flex-direction: column;
  }
  nav > *:nth-child(2) > * {
    text-align: center;
  }
}
nav > *:nth-child(3) {
  /* Signup button */
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
}
#signup {
  display: flex;
  justify-content: center;
  padding: 5px 20px;
  margin: 5px 0;
  min-width: 132px;
}
#signup a {
  flex: 1 1 100%;
  padding: 5px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  outline: 0;
}
#signup a:hover {
  outline: 3px solid black;
}
nav > ul {
  list-style: none;
}
nav > ul > * {
  cursor: pointer;
  height: 100%;
}
nav > ul > li:hover {
  text-decoration: underline;
  color: black;
  background-color: aquamarine;
}

/* contact -widget */
#contact-widget {
  position: fixed;
  display: flex;
  background-color: rgba(0, 128, 0, 0.301);
  flex-direction: column;
  padding: 20px;
  z-index: 5;
  right: 0;
  top: 50%;
  bottom: 50%;
  height: max-content;
  border-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  gap: 20px;
}
#contact-widget > img {
  width: 25px;
}
/* responsive code ended  */
/* not to care about */
/* pg1 */
#pg1::before {
  content: '';
  background-image: url('/media/pg1/bgimage.png');
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-size: cover;
  opacity: 0.5;
  /* will change to some visible bg image  */
}
#pg1 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
#pg1 > * {
  z-index: 2;
}
#pg1 > h1 {
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
}
#pg1 > p {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: bold;
  color: gray;
}
#info {
  background-color: rgba(144, 238, 144, 0.342);
  padding: 20px;
}
#info > * {
  padding: 10px;
  border-radius: 5px;
  border: 0;
}
#info > input:focus {
  /* border: 0; */
  outline: 2px solid gray;
}
